#dealsfile {
  h1 {
    background-color: rgb(255, 30, 0);
    color: white;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px 0px;
    margin-top: 2px;
  }
  #abaya,
  #bags,
  #accessories,
  #hijab,
  #footwear,
  #HealthandBeauty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;

    img {
      display: block;
      height: 200px;
      width: 150px;
      object-fit: cover;
      margin: 5px 5px;
      border-radius: 7px;
      overflow-x: scroll;
    }
  }
}
