// HEADER IS MENTIONED SAME IN EVERY HTML FILE ALSO THE CSS WITH MEDIA QUERIES ARE SAME FOR EVERY LINKED PAGES THE ONLY CHANGES ARE REMOVEL OF SEARCH BAR FROM ABOUT AND BLOG PAGE AND JUSTIFIED CONTENT FLEX-START!!!!!
header {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .logo_icon_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    .logo img {
      width: 170px;
    }

    .icon {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }

    .icon a {
      font-size: 14px;
      color: $black;
      text-decoration: none;
      width: 63px;
    }
  }
  .nav_search_wrapper {
    width: 100%;
    background: $black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    p {
      color: $white;
      display: none;
    }
    .fa-bars,
    .fa-caret-down {
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .fa-bars {
      margin: 20px;
      font-size: 18px;
    }
    .dropdown a {
      text-decoration: none;

      display: inline-block;
      padding: 8px 0px;
      color: $black;
      margin: 5px;
      .fas {
        margin: 18px 0px 0px 0px;
      }
    }
    .dropdown a:hover {
      text-decoration: underline;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      // margin: 0px 13px;

      .dropdown-content {
        display: none;
        transition: opacity 500ms;
        position: absolute;
        background-color: $white;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px $shadow;
        padding: 12px 16px;
        z-index: 1;
        font-size: 16px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: $white;
      }

      i {
        font-size: 24px;
      }
    }
    .dropdown:hover .dropdown-content {
      text-align: center;
      display: block;
      width: min-content;
    }

    ul li {
      list-style-type: none;
      display: inline-block;
      line-height: 70px;
    }

    ul li a,
    .dropdown p {
      text-decoration: none;
      font-size: 24px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0px 16px;
    }
    .dropdown p {
      margin: 0px 0px;
    }

    .fa,
    .fas {
      font-weight: 900;
      font-size: 24px;
    }
    .fas {
      margin: 18px 0px 0px 12px;
    }

    .fa {
      margin: 10px 0px 0px 7px;
    }

    ul li a i:hover,
    .dropdown .fa-bars:hover,
    p:hover {
      text-decoration: underline;
      font-size: 20px;
      color: $hover-effect;
    }

    .search-btn input[type="text"] {
      padding: 6px 9px;
      background: $black;
      border: 1px solid $border;
      margin-bottom: 20px;
      color: $white;
      border-radius: 10px;
      width: 200px;
      font-size: 14px;
    }

    .search-btn a {
      color: $border;
      font-size: 20px;
    }
  }
}
